mat-panel-title {
    max-width: 300px;
    width: 300px;
    overflow: hidden;
}

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

mat-expansion-panel {
    margin-right: 15px;
    margin-left: 15px;
}

.line {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}

.header-image {
    width: auto;
    height: 40px;
    max-height: 40px;
    width: 40px;
    padding: auto;
    border: 0.1px solid;
}

.footer {
    width: calc(100% - 30px);
    height: fit-content;
    background-color: rgb(152, 201, 202);
    border: 1px solid;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-item {
    margin: 10px;
}

body {
    padding-top: 10px;
    padding-bottom: 10px;
    height: fit-content;
    max-height: calc(100% - 66px);
    overflow: hidden;
    overflow-y: scroll;
}


@media only screen and (max-width: 645px) {
    body {
        max-height: calc(100% - 120px);
    }
  }
  @media only screen and (max-width: 375px) {
    body {
        max-height: calc(100% - 166px);
    }
  }
