<h1>פרטי תיק</h1>

<h3>פרטים כלליים</h3>

<div class="lines">
    <div class="line-of-input">
        <mat-form-field appearance="fill" >
            <mat-label>שם לקוח</mat-label>
            <input value='{{dataSource.PersonName}}' matInput disabled>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>תאריך אירוע</mat-label>
            <input value='{{dataSource.PersonName}}'  matInput disabled>
        </mat-form-field>
    </div>
    
    <div class="line-of-input">
        <mat-form-field appearance="fill">
            <mat-label>אולם</mat-label>
            <input value='{{dataSource.PersonName}}' matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>תאריך לקיחת שמלה</mat-label>
            <input value='{{dataSource.PersonName}}'  matInput>
        </mat-form-field>
    </div>

    <div class="line-of-input">
        <mat-form-field appearance="fill">
            <mat-label>תופרת אחראית</mat-label>
            <input value='{{dataSource.PersonName}}' matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>סטטוס</mat-label>
            <input value='{{dataSource.PersonName}}' matInput disabled>
        </mat-form-field>
    </div>
</div>

<h3>מסמכים</h3>
<h3>פיקדון</h3>
<h3>תשלום עבור שמלה</h3>
<h3>קישור להזמנה</h3>


