/* Structure */

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

h1 {
    font-weight: bold;
    text-align: center;
}

.mat-header-cell {
    padding-right: 15px;
    font-size: medium;
}

.add-button {
    background-color: #1a9177;
}

.center-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.make-red {
    background-color: #ffbdbd;
}

.make-green {
    background-color: #b9ffb9;
}

.make-yellow {
    background-color: #ffffd1;
}

.make-white {
    background-color: white;
}

/* for smaller screens */

@media only screen and (max-width: 736px) {
    .mat-header-cell {
        padding-right: 5px;
        font-size: small;
    }
    td {
        font-size: small;
    }
}

/* for smaller screens */

@media only screen and (max-width: 568px) {
    .mat-header-cell {
        padding-right: 5px;
        font-size: x-small;
    }
    td {
        font-size: x-small;
    }
}