body {
    padding: 5px;
    height: calc(100% - 10px);
}

.no-fixes-header {
    text-align: center;
    margin-top: 100px;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
}

.customer-size-header {
    direction: rtl;
    font-weight: bold; 
}