.header {
    background-color: rgb(241, 241, 241);
    color: #1a9177;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(158, 158, 158, 0.836);
    margin: 0px;
}

table {
    text-align: center;
}

h3 {
    margin-top: -15px;
}

h5, h3, .title {
    font-weight: bold;
}

/* form section */

.example-container mat-sidenav {
    background-color: #1a9177;
    color: white;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: column;
}

.sidenav-content {
    background-color: #1a9177;
    height: 100%;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 0px;
    height: 50px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -40px;
    height: calc(100vh-142px);
    overflow: hidden;
    position: relative;
}

.nav-list-hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #94a39e8a;
    height: 1px;
    margin: 0px;
}

.inner-container, .example-container {
    height: fit-content;
    min-height: 341px;
    width: 100%;
    margin: 0px;
}

.inner-container {
    height: calc(100vh - 142px);
    width: 100%;
    min-height: calc(100vh - 142px);
    max-height: calc(100vh - 142px);
    overflow-y: auto !important;
    position: relative;
    min-width: 100%;
    max-width: 100%;
}

.bottom-part-container {
    height: calc(100vh-142px);
    max-height: calc(100vh-142px);
    min-height: calc(100vh-142px);
    width: 100%;
    z-index: -1;
}

.line {
    height: 100%;
    flex: 1;
}

/*change background-color when an item is selected*/
a.mat-list-item.active {
    color: #20b393;
}

/*change background-color when the router is activating the link*/
.is-active {
    background-color: #20b393;
}

/*change background-color of the anchors focus after click*/
a:focus, a.nav-links:focus, a.mat-list-item:focus {
    background-color: #20b393
}

/* for smaller screens */
@media only screen and (max-width: 352px) {
    .bottom-part-container {
        height: calc(100vh-190px);
        max-height: calc(100vh-190px);
        min-height: calc(100vh-190px);
    }
    .inner-container {
        height: calc(100vh - 190px);
        width: 100%;
        min-height: calc(100vh - 190px);
        max-height: calc(100vh - 190px);
    }
}