<!-- <h1>this is customers form</h1> -->
<h1 class='title'>תיק טיפול באירוע</h1>
<div class="header" *ngIf="dataSource">
    <table>
        <tr>
            <td><h5>קוד תיק</h5></td>
            <td><h5>שם לקוח</h5></td>
            <td><h5>תאריך אירוע</h5></td>
            <td><h5>סטטוס תיק</h5></td>
            <td><h5>תופרת אחראית</h5></td>
        </tr>
        <tr>            
            <!-- <td><h3>-</h3></td> -->
            <td><h3>{{dataSource.BridalEventId}}</h3></td>
            <td><h3>{{dataSource.PersonName}}</h3></td>
            <td><h3>{{dataSource.TakenDate}}</h3></td>
            <td><h3>{{dataSource.statusBridalEvent}}</h3></td>
            <td><h3>{{dataSource.BridalStaff}}</h3></td>
        </tr>
    </table>
</div>

<!-- <div class="tables-section"> -->
    <mat-drawer-container class ="example-container" [hasBackdrop]="false">
      <mat-drawer class="sidenav-content" mode="side" #drawer>
        <ul class="nav-links">
          <mat-nav-list>
            <a mat-list-item (click)="navigateTo('fileDetails')">פרטי תיק</a><hr class="nav-list-hr" />
            <a mat-list-item (click)="navigateTo('roomsScheduling')">שיבוץ חדרים</a><hr class="nav-list-hr" />
            <a mat-list-item (click)="navigateTo('itemsScheduling')">שיבוץ פריטים</a><hr class="nav-list-hr" />
            <a mat-list-item (click)="navigateTo('fixes')">תיקונים</a><hr class="nav-list-hr" />
            <a mat-list-item (click)="navigateTo('payments')">תשלומים</a><hr class="nav-list-hr" />

            <a mat-list-item (click)="toggleDrwer(drawer)">לחץ לסגירה</a>
          </mat-nav-list>
        </ul>
      </mat-drawer>
      <mat-drawer-content>
  
        <mat-sidenav-container class="example-container">
          <mat-sidenav mode="side" opened>
            <ul class="nav-links">
              <mat-nav-list>
                <a mat-list-item (click)="navigateTo('fileDetails')"><mat-icon>business_center</mat-icon></a><hr class="nav-list-hr" />
                <a mat-list-item (click)="navigateTo('roomsScheduling')"><mat-icon>room</mat-icon></a><hr class="nav-list-hr" />
                <a mat-list-item (click)="navigateTo('itemsScheduling')"><mat-icon>vibration</mat-icon></a><hr class="nav-list-hr" />
                <a mat-list-item (click)="navigateTo('fixes')"><mat-icon>content_cut</mat-icon></a><hr class="nav-list-hr" />
                <a mat-list-item (click)="navigateTo('payments')"><mat-icon>payment</mat-icon></a><hr class="nav-list-hr" />

                <a mat-list-item (click)="toggleDrwer(drawer)"><mat-icon>{{icon[index]}}</mat-icon></a>
              </mat-nav-list>
            </ul>
          </mat-sidenav>
          <mat-sidenav-content>
            <div class="inner-container">
              <router-outlet></router-outlet>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
  
      </mat-drawer-content>
    </mat-drawer-container>
  
  <!-- </div> -->