<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer class="sidenav-content" #drawer>
    <ul class="nav-links">
      <h2>אפשרויות</h2>
      <mat-nav-list>
        <hr />
        <a mat-list-item href="#">לוח פגישות</a>
        <hr />
        <a mat-list-item href="#">עריכת פרמטרים</a>
        <hr />
        <a mat-list-item href="#">ניהול תיקונים</a>
        <hr />
        <a mat-list-item href="#">ניהול ניקוי יבש</a>
        <hr />
        <a mat-list-item href="#">הפקדת תשלומים</a>
      </mat-nav-list>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button-toggle></button-toggle>
    </mat-toolbar>
<!-- 
    <button mat-fab class="bottom-button" (click)="goToTop()">
      <mat-icon>arrow_upward</mat-icon>
    </button> -->

    <div class="router-content">

      <router-outlet></router-outlet>
    </div>


    <!-- <app-scroll-top></app-scroll-top> -->

  </mat-drawer-content>
</mat-drawer-container>