/* Structure */

div {
    margin: 10px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

h1 {
    font-weight: bold;
    text-align: center;
}

.mat-header-cell {
    padding-right: 15px;
    font-size: medium;
}

.add-button {
    background-color: #1a9177;
}

.center-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

td {
    text-align: center; 
}

/* for smaller screens */

@media only screen and (max-width: 736px) {
    .mat-header-cell {
        padding-right: 5px;
        font-size: small;
    }
    td {
        font-size: small;
    }
}

/* for smaller screens */

@media only screen and (max-width: 568px) {
    .mat-header-cell {
        padding-right: 5px;
        font-size: x-small;
    }
    td {
        font-size: x-small;
    }
}

.edit-button {
    background-color: #1a9177;
    color: white;
    margin: 5px;
    padding: 0px;
}

.delete-button {
    background-color: rgb(194, 63, 40);
    color-interpolation-filters: white;
    margin: 5px;
    padding: 0px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding: 0px !important;
}
