.btn.btn-primary {
    border-radius: 0;
    color: white;
    background-color: #1a9177;
    border-color: #1a9177;
}

.btn.btn-primary.active {
    background-color: white;
    border-color: #1a9177;
    color: #1a9177;
}

.btn.btn-primary:active {
    background-color: white;
    border-color: #1a9177;
    color: #1a9177;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.date {
    text-align: center;
}

@media (min-width: 768px) {
    ::ng-deep .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}