.btn.btn-primary {
    border-radius: 0;
    color: white;
    background-color: teal;
    border-color: teal;
}

.btn.btn-primary.active {
    background-color: #1a9177;
    border-color: white;
}

.btn.btn-primary:active {
    background-color: #1a9177;
    border-color: white;
}