.lines {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

/*data filed style*/
.data-field {
    width: 201px;
    height: 51.3px;
    padding: 10.5px, 10.5px, 10.5px, 0px;
    margin-right: 10px;
    margin-left: 10px; 
    margin-bottom: 19px;
    background-color: #0000000A;
    color: rgba(0,0,0,.87);
    border-bottom: 1px solid rgba(0, 0, 0, 0.445);
    border-radius: 4px 4px 0 0;
}

.text-area {
    margin-top: -0.0625em;
    padding-right: 10.5px;
    padding-left: 10.5px;
    font-size: 14px;
}

.label {
    margin-bottom: 0px;
    padding-right: 10.5px;
    padding-left: 10.5px;
    padding-top: 5px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.637);
}

.dowload-file-button {
    color: white;
    background-color: #49c5b6;
    margin-right: 15px;
    margin-left: 15px;
}

mat-checkbox {
    margin: 12px;
}

/* table {
    width: 100%;
} */


table {
    width: calc(100% - 30px);
    margin-right: 15px;
    margin-left: 15px;
    border-collapse: collapse;
    text-align: right;
}

table, td, th {
    border-bottom: 1px solid #1a5356b5;
    padding-top: 10px;
    padding-bottom: 10px;
}

th {
    border-bottom: 2px solid black;
    text-align: right;
    color: #1a5356;
    font-size: 14px;
    font-weight: 700;
}

/* ol, li {
    padding: 0px;
    margin: 0px;
} */

/* .summary {
    color: #1a5356;
    font-size: 13px;
    font-weight: 700;
} */

h3 {
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

/* for smaller screens */

@media only screen and (max-width: 736px) {
    th {
        /* padding-right: 5px; */
        font-size: small;
    }
    td {
        font-size: small;
    }
    table {
        width: calc(100% - 10px);
        margin-right: 5px;
        margin-left: 5px;
    }
}

/* for smaller screens */

@media only screen and (max-width: 568px) {
    th {
        /* padding-right: 5px; */
        font-size: xx-small;
    }
    td {
        font-size: xx-small;
    }
    table {
        width: calc(100% - 4px);
        margin-right: 2px;
        margin-left: 2px;
    }
}
