<div *ngIf="dataSource">
    <!-- <h1>קוד פריט: {{dataSource.BridalItemId}}</h1> -->
    
    <loading-spinner *ngIf="showSpinner"></loading-spinner>

    <div class="line-of-inputs">

        <mat-form-field appearance="fill">
            <mat-label>מק"ט</mat-label>
            <input matInput value="{{dataSource.Mct}}">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>מידה</mat-label>
            <input matInput value="{{dataSource.Size}}">

        </mat-form-field>
    </div>

    <div class="line-of-inputs">

        <mat-form-field appearance="fill">
            <mat-label>אורך</mat-label>
            <input matInput value="{{dataSource.LengthItemId}}">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>מצב</mat-label>
            <input matInput value="{{dataSource.Condition}}">
        </mat-form-field>
    </div>

    <div class="line-of-inputs">

        <mat-form-field appearance="fill">
            <mat-label>סטטוס</mat-label>
            <input matInput disabled value="{{dataSource.StatusActiveDesc}}">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>סטטוס מורחב</mat-label>
            <input matInput disabled value="{{dataSource.PositionBridalItem}}">
        </mat-form-field>

    </div>
    <div class="line-of-inputs">

        <mat-form-field appearance="fill">

            <mat-label>סיבה</mat-label>
            <mat-select>
                <mat-option *ngFor="let reason of reasons" [value]="reason">{{reason}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-slide-toggle checked="dataSource.IsActive">פעיל</mat-slide-toggle>

    </div>

    <div class="line-of-inputs">
        <mat-form-field class="comments" appearance="fill">
            <mat-label>מיקום</mat-label>
            <textarea matInput value="{{dataSource.Location}}"></textarea>
        </mat-form-field>

        <mat-form-field class="comments" appearance="fill">
            <mat-label>הערות</mat-label>
            <textarea matInput value="{{dataSource.CommentBridalItem}}"></textarea>
        </mat-form-field>
    </div>
</div>