.calendar-container {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  /* overflow: hidden;
  overflow-y: auto;
  min-height: calc(100vh - 155px);
  height: calc(100vh - 155px);
  max-height: calc(100vh - 155px); */
}

.column {
  display: flex;
  flex-direction: column;
}

/* design for grouping similar events */
.cell-totals {
  margin: 5px;
  text-align: center;
}

.badge {
  margin-right: 5px;
}

/* for smaller screens */

@media only screen and (max-width: 568px) {
  .cell-totals {
    visibility: hidden;
    /* display:none; */
    margin: 0px;
  }
  .cal-day-number {
    /* margin-left: calc(100% - 15px); */
    font-size: 1em;
  }
}


@media only screen and (max-width: 768px) {
  .calendar-container {
    min-height: calc(100vh - 230px);
    height: calc(100vh - 230px);
    max-height: calc(100vh - 230px);
  }
}