.calendar-container {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.column {
  display: flex;
  flex-direction: column;
}

/* .row {
  display: flex;
  flex-direction: row;

} */

.date-picker {
  margin-right: 30px;
}

.chips-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.chips {
  width: 100%;
}

.example-form-field {
  width: 150px;
  margin-right: 15px;
}

/* design for grouping similar events */

.cell-totals {
  margin: 5px;
  text-align: center;
}

.badge {
  margin-right: 5px;
}

/* for smaller screens */

@media only screen and (max-width: 320px) {
  .calendar-container {
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
  }
}

@media only screen and (max-width: 568px) {
  .cell-totals {
    display: none;
    margin: 0px;
  }
  .cal-day-number {
    font-size: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .calendar-container {
    max-height: calc(100vh - 230px);
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
}