/* .md-add-event-popup { */
/* background:#f44336, */
/* currentColor:#4caf50, */
 /* background:#e91e63, */
  /* background: #ffeb3b , */
  /* background:#03a9f4  ,  */
  /* background:#3f51b5, */
  /* background: #4caf50 */
/* } */

.calendar-container {
  margin: 15px;
  height: calc(100vh - 155px); /*not working*/
  max-height: calc(100vh - 155px);/*not working*/
}